# Python files
*.pyc
__pycache__/

# Virtual environments
env/
trading_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
logs/
*.log

# Environment variables
.env

# API Keys
credentials.json

# Data files
data/
